.footer {
    padding: 40px 0 40px;
    background: #0A2533;
    position: relative;
}

.footer__frame {
    position: absolute;
    left: 0;
    bottom: calc(100% - 2px);
}
.footer__logo {
    max-width: 175px;
    margin-top: -20px;
}

.footer__menu {
    padding-left: 92px;

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 33%;
            margin-bottom: 25px;
        }

        a {
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: #FFFFFF;
            transition: .3s;

            &:hover {
                color: #FF0B8A;
            }
        }
    }
}

.footer__social {
    padding-left: 40px;

    a {
        display: inline-block;

        &+a {
            margin-left: 15px;
        }

        svg path {
            transition: .3s;
        }

        &:hover {
            svg path {
                fill: #FF0B8A;
            }
        }
    }
}

.footer__copy {
    padding-top: 25px;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    opacity: 0.3;
    color: #FFFFFF;
}




//   ----- RESPONSIVE -------- //
@media(max-width: 1200px) {
    .footer__menu {
        padding-left: 20px;
    }
}

@media(max-width: 991.8px) {
    .footer__social a+a {
        margin-left: 25px;
    }
    .footer__social {
        padding-left: 0;
    }

    .footer__logo {
        max-width: 160px;
        margin-top: 0;
    }
    .footer__social {
        margin-bottom: 15px;
    }
}

@media(max-width: 767.8px) {
    .footer__menu {
        padding-left: 0;
    }
    .footer__logo {
        max-width: 140px;
        margin-bottom: 30px;
    }
    .footer__menu {
        padding-left: 0;
        margin-bottom: 20px;
    }
}

@media(max-width: 575.8px) {
    .footer__menu ul li {
        width: 50%;
        margin-bottom: 20px;
    }
    .footer__copy {
        padding-top: 20px;
        font-size: 13px;
    }
   
    .footer {
        padding: 30px 0;
    }
}